@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@layer base {
  @font-face {
    font-family: Inter;
    font-weight: 400;
    src: url("../fonts/Inter-Regular.ttf") format("ttf");
  }
  @font-face {
    font-family: Inter;
    font-weight: 500;
    src: url("../fonts/Inter-Medium.ttf") format("ttf");
  }
  @font-face {
    font-family: Inter;
    font-weight: 600;
    src: url("../fonts/Inter-SemiBold.ttf") format("ttf");
  }
  html {
    font-family: "Inter", sans-serif;
  }
  p {
    color: #4f637d;
  }

  span {
    color: #4f637d;
  }
  /* @font-face {
    font-family: Euxodus;
    font-weight: 700;
    src: url("../fonts/ExodusDemo-Regular.otf") format("otf");
  } */
}
